<!DOCTYPE html>
<html>
  <head>
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Buat Data Guru</h1>
    <form action="/create" method="POST">
        <label>Nama</label>
        <input type="text" name="nama"/>
        <label>Alamat</label>
        <input type="text" name="alamat"/>
        <label>Pelajaran</label>
        <input type="text" name="pelajaran"/>
        <label>Kelas</label>
        <input type="integer" name="kelas"/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
