<!DOCTYPE html>
<html>
  <head>
      <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <div>
    <a href="/users/logout/" class="exit"><button onclick="myFunction()"><b>Logout</b></button></a>

    <h4>Anda Login Sebagai </h4>
</div>
    <h1>Data Guru</h1>
        <table>
    	<thead>
    		<th>Nama</th>
    		<th>Alamat</th>
    		<th>Pelajaran</th>
            <th>Kelas</th>
    		<th>Aksi</th>
    	</thead>
    	<tbody>
    		
    		<tr>
    			<td>asd</td>
    			<td>asd</td>
    			<td>asd</td>
                <td>asd</td>
    			<td class="tex">
                    <a href="">Edit</a>
                    <a href="">Hapus</a>
                </td>
    		</tr>
            
    	</tbody>
    </table>
    <div class="new"><br><br>
    <p class="new"><b><i>Ingin Menambahkan Data Baru?</i></b></p>
    <a href="/create"><button type="submit"><b>Disini</b></button></a>
</div>
</body>
</html>
